<% include _header %>

<form class="form-signin" action="/add" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Add review</h1>
    <input name="test" type="text" value="" class="form-control" placeholder="Comment here" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
</form>

<% include _footer %>