<% include _header %>

<form class="form-signin pt-5" action="/login" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
    <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
    <input name="password" type="password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <input type="checkbox" value="remember-me"> Remember me
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

<% include _footer %>